.gameContainer {
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
}

.cubeContainer {
    cursor: pointer;
}

.gameButtons {
    width: 100%;
    display: block;
}

.gameButtons button {
    width: 100%;
    height: 2.5rem;
    margin: 1em 0;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4 background ease-in;
}

.resetBtn {
    border: 2px solid var(--black);
    background-color: var(--white);
    transition: 0.3 background ease-in;
}

.resetBtn:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.35s background ease-in;
}

.rulesBtn {
    background-color: var(--black);
    color: var(--white);
    transition: 0.3 background ease-in;
}

.rulesBtn:hover {
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
    transition: 0.35s background ease-in;
}

@media (max-width: 998px) {
    .gameContainer {
        height: 100vh;
        align-items: center;
    }
}