.diceNumber {
    display: flex;
    gap: 1rem;
}

.errorMessage {
    color: red;
}

.numberContainer {
    text-align: right;    
}

.diceNumber .number {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    cursor: pointer;
}

.numberContainer p {
    margin-top: 1em;
    font-weight: 600;
    font-size: 1.5rem;
}
