.diceNumber {
    display: flex;
    gap: 1rem;
}

.errorMessage {
    color: red;
}

.numberContainer {
    text-align: right;    
}

.diceNumber .number {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    cursor: pointer;
}

.numberContainer p {
    margin-top: 1em;
    font-weight: 600;
    font-size: 1.5rem;
}

/* 992, 768, 576 */

@media (max-width: 998px) {
    
    .diceNumber {
        display: block;
    }

    .numberContainer {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: right;
        margin-right: -8rem;
    }
    
    .numberContainer p {
        display: none;
    }

    .errorMessage {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 15rem;
        height: 1.5rem;
        border-radius: 3px;
    }
    
    /* .diceNumber .number {
    }     */
}