.score {
    text-align: center;
    font-size: 6.25rem;
    margin-bottom: -2rem;
}

.scoreContainer p {
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 998px) {
    .scoreContainer {
        display: flex;
        height: 100vh;
        align-items: center;
        margin-left: -5rem;
    }
        
    .scoreContainer p {
        display: none;
    }
}

@media (max-width: 576px) {
    .scoreContainer {
        display: table;
        height: 3rem;
        width: 100%;
        padding: 0 2em;
        margin-left: 0;
        grid-template-columns: 1fr 1fr;
    }

    .score {
        display: table-footer-group;
        height: 50%;
        font-size: 2rem;
        text-align: right;
    }

    .scoreContainer p {
        display: flex;
        align-items: center;
        height: 50%;
        white-space: nowrap;
        font-size: 1.25rem;
        text-align: left;
        position: absolute;
        margin-right: 1em;
    }
}